html, body {
    margin: 0;
    background-color: #ece9dfff;
}
* {
    box-sizing: border-box;
}

.title-panel {
    background-color: #779badff;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px;
}

.bio-text {
    color: white;
    font-family: "IBM Plex Sans", sans-serif; /* fix this later */
}

.greeting {
    font-size: 80px;
    font-weight: 600;
}

.intro {
    font-size: 30px;
}

.projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    padding: 50px;
    gap: 50px;
}

.project-header, .email {
    color: #3f6c75;
    font-size: 60px;
    font-family: "IBM Plex Sans", sans-serif; /* fix this later */
    height: 100px;
    font-weight: 600;
}

.left-col, .right-col {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.project {
    background-color: #eecb8eff; /* alt:#dc8672ff; #eecb8eff */
    cursor: pointer;
    height: fit-content;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 
        0.5px 0.6px 0.9px hsl(47deg 10% 56% / 0.36),
        1.6px 1.9px 2.8px -0.8px hsl(47deg 10% 56% / 0.36),
        4px 4.9px 7.1px -1.7px hsl(47deg 10% 56% / 0.36),
        9.8px 11.8px 17.3px -2.5px hsl(47deg 10% 56% / 0.36);
}

.hidden {
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease;
}

.project-image {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.project-text {
    text-align: center;
    background-color: #eeeeeeff;
    font-family:"Roboto Mono", monospace; /* fix this later */
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.project-h1 {
    color: #3f6c75;
    font-size: 14px;
    font-weight: 800;
}

.top-break {
    margin-top: 10px;
}

.project-normal {
    color: #779badff;
    font-size: 12px;
    font-weight: 600;
}

.email {
    text-align: center;
    font-size: 35px;
}

